html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
}

ul, ol {
  list-style: none;  /* supprime puces / numéros */
  padding: 0;        /* supprime le padding par défaut */
  margin: 0;         /* supprime la marge par défaut */
}

.cta {
    padding: 15px 0px;
    border-radius: 30px;
    font-size: large;
    font-family: 'Overpass';
    width: 142px;
    font-weight: 600;
    text-align: center;
}


/***********FONT FAMILIES****************/

@font-face {
  font-family: 'Overpass';
  src: url('../assets/fonts/Overpass/Overpass-Regular.ttf')
    format('truetype');
}