.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 9%;
    font-size: 16px;
    font-weight: 600;
}

.navbar-items {
    display: flex;
    gap: 70px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: large;
    font-family: 'Ubuntu';
    color: hsl(6, 100%, 92%);
}

.navbar-authentication {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Ubuntu';
}

.sign-up {
    background-color: white;
    color: hsl(356, 100%, 66%);
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}


/***********FONT FAMILIES****************/

@font-face {
  font-family: 'Overpass';
  src: url('../assets/fonts/Overpass/Overpass-Regular.ttf')
    format('truetype');
}


@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf')
    format('truetype');
}
