.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    gap: 10px;
    padding: 25px 50px 25px 20px;
    margin-top: 20px;
}


.dropdown-menu:hover {
    cursor: pointer;
}