.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 9%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Overpass';
}

.navbar-items {
    display: flex;
    gap: 70px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: large;
    color: hsl(6, 100%, 92%);
}

.navbar-authentication {
    display: flex;
    align-items: center;
    gap: 30px;
}

.burger {
    visibility: hidden;
    position: absolute;
}


@media (max-width: 1000px) {
    .navbar {
        gap: 0px;
    }
}


@media (max-width: 900px) {
    .navbar-links {
        display: none;
    }

    .navbar-authentication {
        display: none;
    }

    .burger {
        visibility: visible;
        position: relative;
    }
}
/***********FONT FAMILIES****************/

@font-face {
  font-family: 'Overpass';
  src: url('/src/assets/fonts/Overpass/Overpass-Regular.ttf')
    format('truetype');
}