.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 9%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Overpass';
}

.navbar-items {
    display: flex;
    gap: 70px;
}

.navbar-links {
    display: flex;
    align-items: top;
    gap: 50px;
    font-size: large;
    color: hsl(6, 100%, 92%);
}

.navbar-authentication {
    display: flex;
    align-items: center;
    gap: 30px;
}

.login {
    color: hsl(6, 100%, 92%);
}

.sign-up {
    background-color: white;
    color: hsl(356, 100%, 66%);
}


/***********FONT FAMILIES****************/

@font-face {
  font-family: 'Overpass';
  src: url('/src/assets/fonts/Overpass/Overpass-Regular.ttf')
    format('truetype');
}